<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Authorization</title>
  </head>
  <body>
    <div class="bodyAuth">
      <div class="authFormContainer">
        <div class="authFormBlock">
          <h1 class="authHeader">Telephone directory</h1>

          <form class="authForm" id="authFormId">
            <label for="">Enter login</label>
            <br />
            <input type="text" class="userAuthLogin" id="userAuthLoginId" />
            <br />
            <br />
            <label for="">Enter password</label>
            <br />
            <input
              type="text"
              class="userAuthPassword"
              id="userAuthPasswordId"
            />
            <br />
            <br />
            <button class="button buttonAuthorization">Log in</button>
          </form>
          <button class="button registButtonAuthorization">Log on</button>
        </div>
      </div>
    </div>
    <script src="loginRequest.js"></script>
  </body>
</html>
