<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styleUs.css" />
    <title>Registration</title>
  </head>
  <body>
    <div class="bodyAuth">
      <div class="authFormContainer">
        <div class="authFormBlock">
          <h1 class="registHeader">Registration</h1>
          <br />
          <form action="" class="registForm" id="registFormId">
            <label for="">Enter login</label>
            <br />
            <input type="text" class="userRegistLogin" id="userRegistLoginId" />
            <br />
            <br />
            <label for="">Enter password</label>
            <br />
            <input
              type="password"
              class="userRegistPassword"
              id="userRegistPasswordId"
            />
            <br />
            <p class="checkPassword">Show</p>

            <button class="button buttonAuthorization">Log on</button>
          </form>
          <br />
          <form action="/auth" method="get">
            <button class="button">Log in</button>
          </form>
        </div>
      </div>
    </div>

    <script src="registRequest.js"></script>
  </body>
</html>
